// All the css files are present in here

// The Add new notebook button is placed 20px right of the text through this style
.new-notebook-button{
  margin-left:20px;
}

// The plus sign that is present in the button is placed 10px left of the other text in the button.
.new-notebook-button-plus{
  margin-right:10px;
}

//The Red cross represents all the cross red close buttons
.Red-Cross{
  margin-left: 20px;
  margin-right:20px;
}


.needASpaceOnTop{
  margin-top: 10px;
}

// The unordered list have notebook symbol as bullets, we prepare this step first then continue in the next block.
li.UnorderedListChildNB{
  display:block;
}

// This is for all the list elements in the unordered list, we place the Font-Awesome book sign as a bullet with this.
ul li.UnorderedListChildNB:before {
  
  font-family:'FontAwesome';
  content:'\f02d';
  font-size: 30px;
  margin-right:20px;
  vertical-align:middle

}

//This is the styling for the search elements
.search{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif
}

//Styling for the search heading
.searchHead{
  font-size: 20px;
}

//This is for all the unordered Notebook list elements, just for spacing them nice
.UnorderedListChildNB{
  margin-top: 20px;
}

//This is for all the unordered Note list elements, just for spacing them nice 
.UnorderedListChildN{
  margin-top:10px;
}

//The new note button
.new-note{
  margin-left: 20px;
}

//The text which will be emphasized and highlighted on clicking a notebook
.activeTextNotebook {
  font-size: 2em;
  color: darkcyan;
  vertical-align: middle;
}

//The text which will be emphasized and highlighted on cliking a note
.activeTextNote {
  font-size: 1.2em;
  color: darkcyan;
  margin-right:20px;
  vertical-align: middle;
}

//The h3 headings
h3{
  margin-left:5px;
}

//for notes
.Notes{
  margin-left:40px;
}

//mostly for all the buttons
.ButnN{
  margin-left:10px;
}

//The input box for entering notebook title
.NotebookInput{
  margin-top:15px;
  vertical-align:middle;
}

